PORT=3000
DB_PROVIDER=postgresql # You can use postgresql | mysql | sqlite
# switchihng between DBs is not supported as of now 
DATABASE_URL="postgresql://user:passeord@localhost:5432/my-db"
#DATABASE_URL=file:./dev.db   #for sqlite
API_PREFIX=/api
API_VERSION=v1
JWT_SECRET="SUPERSECURESECRET"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=""